/*RESET */
*{
  margin: 0;
  box-sizing: border-box;
  padding:0;
}

/* VARIABLES*/
:root{
    --BTN-BG-COLOR: rgba(46, 196, 182, 1);
    --A-COLOR: rgb(72, 152, 158);
    --INPUT-COLOR:rgb(247, 243, 243);
    --CNTR-BG-COLOR:rgba(228, 252, 248, 0.932);
    --FORM-BG-COLOR:rgba(255,255,255,1);
    --INPUT-HOVER-COLOR:rgba(46, 196, 182,1);
    --BTN-HOVER-COLOR:rgb(209, 235, 211);
    --A-HOVER-COLOR:rgb(38, 207, 117);
  }

/* GENERAL STYLES*/
.container{
  display:flex;
  background-color: var(--CNTR-BG-COLOR);
}

.logo-container{
  display: flex;
  flex-direction: column;
  margin: 10rem 6em;
}

img{
  border-radius: 100%;
}

.logo-container h1{
  font-family: 'Trebuchet MS';
  margin-top: 1.5rem;
  color: rgba(0, 11, 10, 1);

}

.logo-container p{
  font-family: 'Trebuchet MS';
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 1.5rem;
  text-align: justify;
  color: rgba(115, 115, 115, 0.5);

}

.form-container{
  background-color: var(--FORM-BG-COLOR);
  box-shadow: 2px 2px 5px 2px rgb(24, 69, 75);
  border-radius: 5px;
  margin: 3rem 4rem;
  height: fit-content;
  padding: 17px;
}

.form-item{
  display: flex;
}

.flex{
  display:flex;
  flex-direction: column;
  padding: 10px;
}

.flex label{
  font-weight: 600;
  font-size: 16px;
  font-family: 'Lucida Sans';
  margin-top: 5px;
}

.flex input{
  border: none;
  border-radius: 5px;
  height:35px;
  margin:2px;
}

input:hover{
  border: 2px solid var(--INPUT-HOVER-COLOR);
}

[type="date"]{
  width:170px;
}

.form-item2{
  display:flex;
  flex-direction: column;
  padding: 12px;
}

.form-item2 label{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Lucida Sans';
  margin-top: 5px;
}

.form-item2 input{
  height:30px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}

.form-item2 input:hover{
  border: 2px solid var(--INPUT-HOVER-COLOR);
}

[placeholder]{
  padding:4px 3px;
}

button{
  background-color:var(--BTN-BG-COLOR);
  border: none;
  border-radius: 3px;
  color:rgba(255, 255, 255, 1);
  margin:10px 20px;
  padding:10px;
  font-weight: 600;
  font-size: 16px;
  width:90%;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
}

  button:hover{
    background-color: var(--BTN-HOVER-COLOR);
    color:black;
  }
  
.form-container p{
  font-size: 16px;
  font-weight: 600;
}

a{
  color: var(--A-COLOR);
}

a:hover{
  color:var(--A-HOVER-COLOR);}

.hidden{display:none;}

@media screen and (max-width:800px){

  .container{
    display:flex;
    flex-direction: column;
    width: 29rem;
}

.logo-container{
    margin: 0;
    padding:0 7px;
  }

.form-container{margin:3rem auto;
width: 25rem;
box-shadow: none;
}

.form-item{font-size: 10px;
  display: flex;
flex-direction: column;
}


button:hover{
  background-color: var(--BTN-HOVER-COLOR);
  color:black;
}


.form-container p{display: none;}

.hidden{display:block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;}


input:hover,
input:active,
input:focus{
  border: 2px solid var(--INPUT-HOVER-COLOR);}
}

/*.form-item label{font-size: 10px;}

.form-item input{height:17px;}

.form-item2 label{font-size: 10px;}

.form-item2 input{height:17px;}

input:hover{border: 2px solid var(--INPUT-HOVER-COLOR);}

[placeholder]{font-size: 12px;}

.form-container p{font-size: 10px;}

button{font-size: 12px;
width:50%;}